<div id="admin">
    <div class="main flex flex-center-x">
        <h1>
            Requests
        </h1>
        <div class="posts ">
            <div class="overview flex flex-center-xy">
                <div class="data flex flex-center-xy">
                    <div class="number">
                        <%= @posts.count %>
                    </div> 
                    <div class="header">
                        Posts
                    </div>
                </div>
                <div class="data flex flex-center-xy">
                    <div class="number">
                        <%= @views %>
                    </div> 
                    <div class="header">
                        Total Views
                    </div>
                </div>
                <div class="data flex flex-center-xy">
                    <div class="number">
                        <%= @texts.count %>
                    </div> 
                    <div class="header">
                        Texts
                    </div>
                </div>
                <div class="data flex flex-center-xy">
                    <div class="number">
                        <%= @images.count %>
                    </div> 
                    <div class="header">
                        Images
                    </div>
                </div>
                <div class="data flex flex-center-xy">
                    <div class="number">
                        <%= @audios.count %>
                    </div> 
                    <div class="header">
                        Audios
                    </div>
                </div>
            </div>
            <div class="chart-wrapper">
                <div class="chart">
                <h1> types </h1>
                    <%= pie_chart @posts.group(:type).count %>
                </div>
            </div>
        </div>
    </div>
</div>
