
    <div class="post">
        <div class="head">
            <div class="user-and-time flex flex-space-between">
                    <div class="user">
                        <a href="/user/<%= post.user.username %> ">
                            @<%= post.user.username %>
                        </a>
                    </div>
                    <div class="time">
                    <%= "#{time_ago_in_words(post.created_at)} " %>
                    </div>
            </div>
            <% unless post.submission.blank? %>
                <div class="submit">
                    Submitted to 
                    <a href="/challenge/<%= post.submission.id %>">
                        <%= post.submission.challenge_type.name %> Challenge
                    </a>
                </div>
            <% end %>
            <% if post.private? %>
                <div class="private">
                    This post is private
                </div>
            <% end %>
            
        </div>
        <div class="body">
            <% if post.draft == true %>
                <div class="draft">
                    Draft
                </div>
            <% end %>
            <% if post.type == "Post::Text"%>
                <a href="/post/<%= post.url %>" >
                    <div class="content text">
                        <%= ((truncate_html post.content, :length => 480)) %>
                    </div>
                </a>
            <% elsif post.type == "Post::Image"%>
                <a href="/post/<%= post.url %>" >
                    <%= image_tag post.content.url %>    
                </a>    
            <% elsif post.type == "Post::Audio" %>
                <% if post.content.url.present? %>
                    <audio id="playerAudio" >
                        <source src="<%= post.content.url %>" type="audio/mp3">
                    </audio>    
                <% end %> 
            <% elsif post.type == "Post::Video" %>
                <% if post.content.url.present? %>
                  <div class="box">
                    <video id="player" src="<%= post.content.url %>">
                  </div>
                <% end %>  
            <% end %>   
        </div>
        <div class="foot">
            <% if post.caption? %>
                <div class="info">
                    <%= ((truncate_html (render_with_hashtags render_with_mention(post.caption)).html_safe, length: 200)) %>
                </div>
            <% end %>
            <div id="post-icon" class=" flex">
                <a href="/post/<%= post.url %>" class="flex flex-center-y icon view-icon">
                    <div class="views"></div> 
                    <div class="view-counter">
                        <%= post.views%>
                    </div>
                </a>
                <a href="/post/<%= post.url %>" class="flex flex-center-y icon">
                    <div class="comment"></div>
                </a>
                 <% if post.user.id != current_user.id && current_user.posts.where( post_id: post.id).exists? %>
                    <a href="/post/<% current_user.posts.where( post_id: post.id).each do | repost|%><%= repost.url %><% end %> " data-method="delete" class="flex flex-center-y icon">
                        <div class="repost"></div>
                        <div class="view-counter">
                            <%= post.posts.count%>
                        </div>
                    </a>
                <% elsif post.user.id != current_user.id  %>
                    <a href="/post/<%= post.id %>/repost" class="flex flex-center-y icon repost-icon" data-method="post" >
                        <div class="repost"></div>
                        <div class="view-counter">
                            <%= post.posts.count%>
                        </div>
                    </a>                       
                <% end%>
                <% if post.user == current_user %>
                    <a href="/post/<%= post.url %>/edit" class="flex flex-center-y icon">
                        <div class="edit"></div>
                    </a>
                <% end %>
            </div>
        </div>
    </div>

