

<% unless @media.present?%>
<div id="create">
    <div class="create-navigation flex flex-center-xy">
      <div class="wrapper">
        <div class="media flex flex-center-xy flex-space-around">
          <a href="/new/text"><div class="icon"><%= image_tag 'icons/text' %></div> Text</a> 
          <a href="/new/image"><div class="icon"><%= image_tag 'icons/image' %></div> Image</a>
          <a href="/new/audio"><div class="icon"><%= image_tag 'icons/audio' %></div> Audio</a> 
          <a href="/new/video"><div class="icon"><%= image_tag 'icons/video' %></div> video</a> 
        </div>
        <div class="challenge flex ">
          <a href="/new/challenge"><div class="icon">Start a Challenge</div></a> 
        </div>
      </div>
    </div>
  </div>
<% else %> 
<div id="post-new">
  <%= form_for @post do |f| %>
    <%= render 'post/form', f: f %>
  <% end %>
</div>

<% end %>
