<div id="profile">
  <div class="sections">
    <div class="section-1">
      <div class="user">
        <div class="info">
          <div class="name">
            <%= @user.name %>
          </div>
          <div class="username">
            @<%= @user.username %>
          </div>
          <div class="bio">
            <%= @user.bio %>
          </div>
          <div class="interests flex">
            <% @user.interests.each do |interest| %>
              <div class="interest">
                <%= interest.name%>
              </div>
            <% end %>
          </div>
          <div class="buttons">
            <% if user_signed_in? %>
              <% unless @user != current_user %>
                <a class="settings" href="/userinfo">
                  <button type="button" name="button"> Settings </button>
                </a>
              <% else %>
                <% if current_user.following?(@user) %>
                  <a class="settings" href="<%= unfollow_user_path(@user) %>">
                    <button type="button" name="button"> Unsubscribe </button>
                  </a>
                <% else %>
                  <a class="settings" href="<%= follow_user_path(@user) %>">
                    <button type="button" name="button"> Subscribe </button>
                  </a>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="section 2">
      <%= render 'post/posts', posts: @posts %>
    </div>
  </div>
</div>
