
<div id="settings">
  <div class="user-settings">
    <div class="wrapper">
      <%= devise_error_messages! %>
      <%= render 'profile'%>
      <%= render 'interest'%>
      <%= render 'nsfw' %>
      <%= render 'account' %>
      <%= render 'delete'%>
    </div>
  </div>
</div>

<%= javascript_include_tag 'user/ajax', 'data-turbolinks-track': 'reload'%>

<script type="text/javascript">
  var coll = document.getElementsByClassName("collapsible"); var i; for (i = 0; i < coll.length; i++) { coll[i].addEventListener("click", function() { this.classList.toggle("collapse-active"); var content = this.nextElementSibling; if (content.style.display === "block") { content.style.display = "none"; } else { content.style.display = "block"; } }); }
</script>
