<div id="challenge-new">
    <div class="form">
        <div class="header">
            <%= params["type"] %> Challenge
        </div>
        <div class="imageAndVideo flex flex-space-around">  
            <div class="image">
                <div class="image-preview">
                    <img  id="image-prev"  class="hidden">
                </div>
                <div id="upload-wrapper" class="image_upload">
                    <%= f.file_field :cover, id:"image-upload", class: "inputfile", accept: 'image/png,image/gif,image/jpeg' %>
                    <label for="image-upload" class="flex flex-center-xy">
                        <span> Add<br/>Cover Art</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="field">
            <%= f.text_field :title, placeholder: "Give it a Title",  :required => 'required',class: "input",:maxlength => 45%>
        </div>
        <div class="field">
            <%= f.hidden_field :challenge_type_id,  :required => 'required' %>
        </div>
        <div class="field">
            <%= f.text_area :description,  :required => 'required', class: "input description",:maxlength => 140%>
        </div>
        <div class="actions">
            <%= f.submit "Create Challenge", class: "btn"%>
        </div>
    </div>
</div>