<div id="post-all">
    <div class="posts masonry transitions-enabled">
            <% @posts.each do |post| %>
                <div class="post">
                    <a href="/challenge/<%= post.id %>" >
                        <div class="head">
                            <div class="title">
                                <%= post.challenge_type.name %> Challenge: <%= post.title %>
                            </div>
                        </div>            
                        <div class="body">
                            <%if post.cover? %>
                                <div class="cover">
                                    <%= image_tag post.cover.url %>
                                </div>
                            <% end %>
                            <div class="challenge">
                                <%= post.description %>
                            </div>
                        </div>
                    </a>
                    <div class="foot">
                        <div class="user">
                            <a href="/user/<%= post.user.username %>">
                                by @<%= post.user.username%>
                            </a>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
</div>




<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    // init Masonry
    var $grid = $('.masonry').masonry({
        itemSelector: '.post',
        columnWidth: '.post',
        horizontalOrder: true,
        percentPosition: true,
        gutter: 10
    });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
        $grid.masonry('layout');
    });

  });
</script>