<div id="create">
    <div class="create-navigation flex flex-center-xy">
      <div class="wrapper">
        <div class="media flex flex-center-xy flex-space-around">
          <a href="/new/text?id=<%= @challenge.id %>"><div class="icon"><%= image_tag 'icons/text' %></div> Text</a> 
          <a href="/new/image?id=<%= @challenge.id %>"><div class="icon"><%= image_tag 'icons/image' %></div> Image</a>
          <a href="/new/audio?id=<%= @challenge.id %>"><div class="icon"><%= image_tag 'icons/audio' %></div> Audio</a> 
          <a href="/new/video?id=<%= @challenge.id %>"><div class="icon"><%= image_tag 'icons/video' %></div> video</a> 
        </div>
      </div>
    </div>
  </div>
</div>
