<nav id="nav" >
  <div class="nav-wrapper flex flex-space-between">
    <a href="/" class="brand"> INDIELAB.</a>
    <ul class="main-links flex flex-space-around hide-on-small-only" >
      <li>
        <a href="/discover"> Discover</a>
      </li>
      <li>
        <a href="/"> Followings</a>
      </li>
      <li>
        <a href="/challenges"> Challenge </a>
      </li>
      
    </ul>
    <ul class="user-links icons hide-on-small-only">
      <li>
        <a href="/search" class="icon">
          <%= image_tag 'icons/search-hover' %>
        </a>
      </li>
      <li data-behavior="notifications" class="notification">
        <a data-behavior="unread-notification" href="/notifications" class="icon">
          <div>
            <%= image_tag 'icons/notification-hover' %>
          <% if current_user.notifications.unread.count > 0 %>
            <sup class='noti-dot'></sup>
          <% end %> 
          </div>
        </a>
      </li>
      <li>
        <a onclick="dropdownDesktop()" class="icon"><%= image_tag 'icons/profile',  class: "dropbtn" %></a>
        <div class="dropdown-content right" id="desktopDropdown">
          <a href="/user/<%= current_user.username %>" >
            @<%= current_user.username %>
          <a href="/userinfo">
            settings
          </a>
          <a href="/invite">
            invite
          </a>
          <hr />
          <a href="/wtf">
            help
          </a>
          <a href="/logout">
            logout
          </a>
        </div>
      </li>
      <li>
        <a href="/create">
          <button class="create">
            Create
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>


<nav id="mobile" class="hide-on-med-and-up">
  <div class="nav-wrapper">
    <ul class="mobile-links flex flex-space-around " >
      <li>
        <a href="/">
          <%= image_tag 'icons/home' %>
        </a>
      </li>
      <li>
        <a  href="/search">
          <%= image_tag 'icons/search-hover' %>
        </a>
      </li>
      <li>
        
        <a href="/create">
          <%= image_tag 'icons/add' %>
        </a>
      </li>
      <li data-behavior="notifications" class="notification">
        <a data-behavior="unread-notification" href="/notifications">
          <%= image_tag 'icons/notification-hover' %>
          <% if current_user.notifications.unread.count > 0 %>
            <sup class='noti-dot'></sup>
          <% end %> 
        </a>
      </li>
      <li>
        <a href="/user/<%= current_user.username %>">
          <%= image_tag 'icons/profile' %>
        </a>
      </li>
    </ul>
  </div>
</nav>

<script>
$(".main-links [href]").each(function() {
    if (this.href == window.location.href) {
        $(this).addClass("active");
        }
    });
</script>


<script>
$(function () {
    $("[data-behavior='unread-notification']").on('click', function () {
        $.ajax({
            url: "/notifications/mark_as_read",
            headers: {"Authorization": "Token wsredts85dsd89s0odpl"},
            method: "POST",
            dataType: "JSON",
        });
    });
});
</script>