<nav id="nav" >
  <div class="nav-wrapper flex flex-space-between">
    <a href="/" class="brand"> Indielab.</a>
    <ul class="main-links flex flex-space-around hide-on-small-only" >
      <li>
        <a href="/discover"> Discover</a>
      </li>
      <li>
        <a href="/followings"> Followings</a>
      </li>
      <li>
        <a href="/create"> Create </a>
      </li>
      
    </ul>
    <ul class="user-links icons">
      <li class="hide-on-small-only ">
        <a href="/search" class="icon">
          <%= image_tag 'icons/search-hover' %>
        </a>
      </li>
      <li data-behavior="notifications" class="hide-on-small-only notification">
        <a data-behavior="unread-notification" href="/notifications" class="icon">
          <%= image_tag 'icons/notification-hover' %>
        </a>
      </li>
      <li>
        <a onclick="dropdownDesktop()" class="dropbtn">@<%= current_user.username %></a>

        <div class="dropdown-content right" id="desktopDropdown">
          <a href="/user/<%= current_user.username %>" >
            Profile
          <a href="/userinfo">
            settings
          </a>
          <a href="/invite">
            invite
          </a>
          <hr />
          <a href="/wtf">
            help
          </a>
          <a href="/logout">
            logout
          </a>
        </div>

      </li>
    </ul>
  </div>
</nav>


<nav id="mobile" class="hide-on-med-and-up">
  <div class="nav-wrapper">
    <ul class="mobile-links flex flex-space-around " >
      <li>
        <a href="/">
          <%= image_tag 'icons/home' %>
        </a>
      </li>
      <li>
        
        <a  href="/discover">
          <%= image_tag 'icons/explore-tool' %>
        </a>
      </li>
      <li>
        
        <a href="/create">
          <%= image_tag 'icons/add' %>
        </a>
      </li>
      <li>
        <a href="/search">
          <%= image_tag 'icons/search-hover' %>
        </a>
      </li>
      <li data-behavior="notifications" class="notification">
        <a data-behavior="unread-notification" href="/notifications">
          <%= image_tag 'icons/notification-hover' %>
        </a>
      </li>
    </ul>
  </div>
</nav>