<!DOCTYPE html>
<html>
  <head>
  
  <title>Indielab | Admin </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    

    <%= stylesheet_link_tag    'admin/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,700,900" rel="stylesheet">
    <%= javascript_include_tag 'admin/main', 'data-turbolinks-track': 'reload'%>


  </head>
    <body>
      <div id="indielab">
        <%= render 'navigation/admin' %>
        <%= render 'static/flash' %>
        <%= yield %>
      </div>
    </body>
</html>