<!DOCTYPE html>
<html>
  <head>
  
  <title>Indielab | The Artist Playground</title>
    
    <%= render '/layouts/seo'%>
    <%= render '/layouts/g_analytics'%>

    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,700,900" rel="stylesheet">
    <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload'%>
    


  </head>
    <body>
      <div id="indielab">
        <%= render 'navigation/root' %>
        <%= render 'static/flash' %>
        <%= yield %>
      </div>
    </body>
</html>
