<!DOCTYPE html>
<html>
  <head>
    <title>Indielab | WTF </title>

    <%= render '/layouts/seo'%>
    <%= render '/layouts/g_analytics'%>

    <%= stylesheet_link_tag   'wtf', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,700,900" rel="stylesheet">
     <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload'%>

  </head>
    
  <body>
    <div id="indielab">
    <%= render 'navigation/wtf/index' %>
      <%= yield %>
    </div>
  </body>
  
</html>
